<div>
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/">{{title}}</span>
    <span></span>
    <button mat-button routerLink="/number-system">
      <span>NumberSystem</span>
    </button>
    <button mat-button routerLink="/medbw">
      <span>medbW</span>
    </button>
    <span></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">
      <mat-icon>home</mat-icon>
      <span>APMS</span>
    </button>
    <button mat-menu-item routerLink="/login">
      <mat-icon>border_color</mat-icon>
      <span>Log in</span>
    </button>
    <button mat-menu-item routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
      <span>Your profile</span>
    </button>
  </mat-menu>
</div>
<router-outlet></router-outlet>