<div>
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/">{{title}}</span>
    <span></span>
    <button mat-button (click)="switchLanguage('en')">
      <span>EN</span>
    </button>
    <button mat-button (click)="switchLanguage('de')">
      <span>DE</span>
    </button>
    <span></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">
      <mat-icon>home</mat-icon>
      <span>APMS</span>
    </button>
    <button mat-menu-item routerLink="/login">
      <mat-icon>border_color</mat-icon>
      <span>{{'appbar.login' | translate}}</span>
    </button>
    <button mat-menu-item routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
      <span>{{'appbar.profile' | translate}}</span>
    </button>
  </mat-menu>
</div>
<router-outlet></router-outlet>
<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile *ngFor="let e of footer">
    Test
  </mat-grid-tile>
</mat-grid-list>